<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.operator.mapper.InspectorMapper">

    <select id="findPage" resultType="com.woniuxy.operator.vo.InspectorVO">
        SELECT
        i.*
        FROM
        inspector i
        LEFT JOIN inspector_road ir ON ir.inspector_id = i.id
        LEFT JOIN road r ON ir.road_id = r.id
        <where>
            i.logic_delete = 0
            <if test="inspectorDTO.roadName!=null and inspectorDTO.roadName!=''">
                AND r.road_name LIKE CONCAT(#{inspectorDTO.roadName}, '%')
            </if>
            <if test="inspectorDTO.name!=null and inspectorDTO.name!=''">
                AND i.name LIKE CONCAT(#{inspectorDTO.name}, '%')
            </if>
            <if test="inspectorDTO.phone!=null and inspectorDTO.phone!=''">
                AND i.phone LIKE CONCAT(#{inspectorDTO.phone}, '%')
            </if>
        </where>
        GROUP BY i.id
    </select>
</mapper>
