<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.operator.mapper.MagnetometerMapper">

    <select id="selectByKeyword" resultType="com.woniuxy.operator.vo.MagnetometerVO">
        select m.id,
        m.name as name,
        r.name as road_name,
        p.name as parking_name,
        p.status as parking_status,
        m.status as status,
        m.update_time,
        m.create_time,
        p.id as parking_id
        from magnetometer as m,
        parking as p,
        road as r
        <where>
            m.parking_id = p.id
            and p.road_id = r.id
            <if test="magnetometerName!=null and magnetometerName!=''">
                and m.name like concat('%', #{magnetometerName}, '%')
            </if>
            <if test="roadName!=null and roadName!=''">
                and r.name like concat('%', #{roadName}, '%')
            </if>
        </where>
    </select>
</mapper>
