<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.operator.mapper.ManagerMapper">

    <select id="getAll" resultType="com.woniuxy.operator.vo.ManagerVO">
        SELECT m.account,d.department_name,m.telephone,m.status,m.create_time
        FROM manager m
            LEFT JOIN department d
                ON m.department_id=d.id
        <where>
            <if test="account !=null and account !=''">
                m.account = #{account}
            </if>
        </where>

    </select>

</mapper>
