<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.operator.mapper.ParkingMapper">

    <select id="selectParkDTOPage" resultType="com.woniuxy.operator.dto.ParkingDTO">
        SELECT
        p.*,
        r.road_name as roadName,
        m.name as magnetometerName,
        m.create_time as magnetometerTime
        FROM parking p
        LEFT JOIN magnetometer m ON p.magnetometer_id = m.id
        LEFT JOIN road r ON p.road_id = r.id
        <where>
            p.logic_delete=0
            <if test="name!= null and name!=''">
                AND p.name LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>
